{% extends 'base.html.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

{% block title %} Milao {% endblock %}

{% block body %}

<header>
                    <nav id="navbar">
                    <a href="{{ path('app_homepage') }}" class="logo"
                        aria-label="visit homepage"
                        aria-current="page"><img src=<img src="{{ asset('../assets/img/fly_PNG3950.png')}}" alt="Bzzz icon">
                        <span> Flies everywhere </span>
                    </a>
                            <div class="nav-links">
                                    <button class="hamburger" type="button"
                                        aria-label="Toggle navigation"
                                        aria-expanded="false">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                            </div>
                            <div class="navlinks-container">
                                    <a href="#" aria-current="page"Home</a>
                                    <a href="{{ path('app_merch') }}">Merch</a>
                                    <a href="{{ path('app_dates') }}">Dates</a>
                                    <a href="{{ path('app_contact') }}">Contact</a>
                                    <a href="{{ path('app_this1312') }}">1312</a>
                            </div>
                            <div>
                                <a href="#" class="user_toggler"
                                aria-label="Sign in page">
                                <img src="./assets/img/fly_PNG3950.png" alt="user_icon">
                                </a>

                                <div class="signs-btns">
                                    <button type="button">Sign In</button>
                                    <button type="button">Sign Up</button>
                                </div>
                            </div>
                </nav>
</header>

<main>
    {# <section class="background-slideshow image1" id="background">
        <div class="slideshow">
            <div class="button_slide"></div>
            <button class="button-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="button-right" onclick="plusDivs(+1)">&#10095;</button>
        </div>
    </section> #}
    {# <div class="swiper">

        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(/assets/img/n.jpg)">Slide 1</div>
            <div class="swiper-slide"style="background-image:url(/assets/img/0068.png)">Slide 2</div>
            <div class="swiper-slide"style="background-image:url(/assets/img/0000.png)">Slide 3</div>
        </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev></div>
    <div class"swiper-button-next"></div>

    <div class="swiper-scrollbar"></div>
    </div> #}
    <section aria-label="Newest Photo">
    <div class="caroussel">
        <ul>
            <li class="slide">
                <img src={{ asset('img/n.jpg') }}
                <img src="./assets/img/0068.png" alt="forest shid">
                <img src="./assets/img/0000.png" alt="3D hd">

            </li>
        </ul>
    </div>

    </section>

   

</main>

<footer>
</footer>

{% endblock %}

